h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

.sidenav {
    width: 300px;
}

.content-container {
    padding: 16px;
    margin-bottom: 16px;
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    width: 100%;
    height: 100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    padding: 12px;

    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}

.icon-parent {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;

;}

.text-parent {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;

;}

.text-child {
    font-size: 0.8rem;
    font-weight: 300;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
}

mat-sidenav-content {
    padding-top: 3.5rem;

    @media screen and (min-width: 200px) {
        padding-top: 4rem;
    }
}

.router-outlet-content {
    padding: 8px;
}

.expand-icon {
    color: var(--mat-sys-onprimary);
}